#include <winuser.h>
#include "../resource.h"

IDI_CRYPT_MAIN      ICON    "CryptoTool.ico"

; https://learn.microsoft.com/en-us/windows/win32/menurc/using-keyboard-accelerators

IDA_CRYPT_MAIN ACCELERATORS
BEGIN
    VK_ESCAPE, IDC_ACC_EXIT, ASCII              ; ESC
    "w", IDC_ACC_EXIT, CONTROL, VIRTKEY         ; CTRL+W
    "z", IDC_ACC_STOP, CONTROL, VIRTKEY         ; CTRL+Z
    VK_RETURN, IDC_ACC_DONE, CONTROL, VIRTKEY   ; CTRL+ENTER
    VK_TAB, IDC_ACC_NEXT, CONTROL, VIRTKEY      ; CTRL+TAB
END
